<% if @available_storages.count > 0 %>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <label><%= t('customer_contract.metal_storage') %></label>
      </div>
      <div class="col-xs-8 col-md-10">
        <select name="metal_storage_id" class="form-control">
          <% @available_storages.each do |storage| %>
            <option value="<%= storage.id %>">
              <%= storage.country %>
              <%= storage.title %>
              <%= " - #{storage.cost_percentage}%" %>
              <%= " + #{storage.tax} Mwst" %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
<% end %>

<% if @selected_contract.contract_metal_definitions.where(optional: true).count > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Typ</td>
        <td>%</td>
        <td>Lagerort</td>
      </tr>
    </thead>
    <tbody>
      <% @selected_contract.contract_metal_definitions.where(optional: true).each do |cmdef| %>
        <tr>
          <td><%= cmdef.metal_definition.title %></td>
          <td><input type="text" name="cmdef_<%= cmdef.metal_definition.id %>_percentage" value="0" class="form-control percentage_input"></td>
          <td>
            <select name="cmdef_<%= cmdef.metal_definition.id %>_storage_id" class="form-control">
              <% MetalStorage.where(metal_definition_id: cmdef.metal_definition.id).each do |storage| %>
                <option value="<%= storage.id %>">
                  <%= storage.country %>
                  <%= storage.title %>
                </option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
    <h2>Personendaten</h2>
<div class="form-group">
  <input class="form-control" type="text" name="customer_contract[company]" placeholder="<%= t('customer_contract.company') %>" required="false" value="<%= @customer_contract.company %>">
</div>
<div class="form-group">
  <input class="form-control" type="text" name="customer_contract[first_name]" placeholder="<%= t('customer_contract.first_name') %>" required="true" value="<%= @customer_contract.first_name %>">
</div>
<div class="form-group">
  <input class="form-control" type="text" name="customer_contract[last_name]" placeholder="<%= t('customer_contract.last_name') %>" required="true" value="<%= @customer_contract.last_name %>">
</div>
<div class="form-group">
  <select class="form-control" name="customer_contract[gender]">
    <option value="m" <%= 'selected' if @customer_contract.gender == "m" %>>M</option>
    <option value="f" <%= 'selected' if @customer_contract.gender == "f" %>>F</option>
  </select>
</div>
<div class="form-group">
  <label><%= t('customer_contract.birthday') %></label>
  <%= date_select("customer_contract", "birthday", {class: 'form-control', selected: @customer_contract.birthday, end_year: Time.now.year - 100, start_year: Time.now.year}) %>
</div>
<div class="form-group">
  <input class="form-control" type="text" name="customer_contract[place_of_birth]" placeholder="<%= t('customer_contract.place_of_birth') %>" required="true" value="<%= @customer_contract.place_of_birth %>">
</div>
<div class="form-group">
  <input type="checkbox" id="additional_person" name="additional_person" value="1">
  Zusätzliche Person
  <span class="txtsmall">
    (bitte anhaken, wenn es einen zweiten Vertragsnehmer oder Begünstigten geben soll.)
  </span>
</div>
<div id="additional_person_container" style="display: none;">
  <div class="form-group mtop20">
    <input class="form-control" type="text" name="customer_contract_people[first_name]" placeholder="<%= t('customer_contract.first_name') %>" required="false">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="customer_contract_people[last_name]" placeholder="<%= t('customer_contract.last_name') %>" required="false">
  </div>
  <div class="form-group">
    <select class="form-control" name="customer_contract_people[gender]">
      <option value="m" <%= 'selected' if @customer_contract_people.gender == "m" %>>M</option>
      <option value="f" <%= 'selected' if @customer_contract_people.gender == "f" %>>F</option>
    </select>
  </div>
  <div class="form-group">
    <%= date_select("customer_contract_people", "birthday", {class: 'form-control', end_year: Time.now.year - 100, start_year: Time.now.year}) %>
  </div>
</div>
<hr>
    <h2>
      Kontaktdaten
    </h2>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[nationality]" placeholder="<%= t('customer_contract.nationality') %>" required="true" value="<%= @customer_contract.nationality %>">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[street]" placeholder="<%= t('customer_contract.street') %>" required="true" value="<%= @customer_contract.street %>">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[house_number]" placeholder="<%= t('customer_contract.house_number') %>" required="true" value="<%= @customer_contract.house_number %>">
    </div>
    <div class="form-group">
      <%= country_select("customer_contract", "country", {priority_countries: ["DE","GB", "FR"]},{class: 'form-control'}) %>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[zip_code]" placeholder="<%= t('customer_contract.zip_code') %>" required="true" value="<%= @customer_contract.zip_code %>">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[city]" placeholder="<%= t('customer_contract.city') %>" required="true" value="<%= @customer_contract.city %>">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[telephone]" placeholder="<%= t('customer_contract.telephone') %>" required="false" value="<%= @customer_contract.telephone %>">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="customer_contract[mobile]" placeholder="<%= t('customer_contract.mobile') %>" required="true" value="<%= @customer_contract.mobile %>">
    </div>
    <hr>
    <%# Converted to ERB %>

<h2>
  Vertragsdaten
</h2>
<div class="form-group">
  <label>
    <%= t('customer_contract.legitimation_type') %>
  </label>
  <select class="form-control" name="customer_contract[legitimation_type]">
    <% CustomerContract.legitimation_types.keys.each do |k| %>
      <option value="<%= k %>">
        <%= t("customer_contract.legitimation_types.#{k}") %>
      </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <input class="form-control" type="text" name="customer_contract[leg_doc_number]" placeholder="<%= t('customer_contract.leg_doc_number') %>" required="true" value="<%= @customer_contract.leg_doc_number %>">
</div>
<div class="form-group">
  <label>
    <%= t('customer_contract.leg_doc_date') %>
  </label>
  <%= date_select("customer_contract", "leg_doc_date", class: "form-control", end_year: Time.now.year - 100, start_year: Time.now.year) %>
</div>
<div class="form-group">
  <input class="form-control" type="text" name="customer_contract[leg_doc_agency]" placeholder="<%= t('customer_contract.leg_doc_agency') %>" required="true" value="<%= @customer_contract.leg_doc_agency %>">
</div>
<div class="row">
  <div class="col-xs-12">
    <input required="true" type="checkbox">
    Ich akzeptiere die
    <a class="gold" href="https://www.demexx.eu/agb" target="_blank">
      Allgemeinen Geschäftsbedingungen
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= submit_tag(t('sections.customers.contracts.labels.new_contract', default: 'Vertrag abschliessen'), class: "btn btn-primary btn-block mtop20", id: "submit_form") %>
  </div>
</div>
<script>
  $("#additional_person").on("change", function(e){
    if($(this).is(":checked")){
      $("#additional_person_container").show();
    }else{
      $("#additional_person_container").hide();
    }
  });

  $("#submit_form").on("click", function(e){
    e.preventDefault();
    var total_percentage = 0
    if($(".percentage_input").length > 0){
      $(".percentage_input").each(function(index){
        total_percentage += parseInt($(this).val());
      })
    }else{
      total_percentage = 100;
    }

    if(total_percentage == 100){
      $("#new_contract_form").submit();
    }else{
      alert("Die Verteilung muss 100% betragen. Derzeit sind es " + total_percentage + "%");
    }
  });
</script>
