
<div class="container px-4 px-lg-3 my-2"">
  <div id="<%= dom_id post %>" class="row gx-4 gx-lg-5 align-items-center"  data-mdb-ripple-color="light">
  <% if post.image.attached? %>
      <%= image_tag post.image, class:"img-fluid" %> 
  <% else %>
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
  <% end %>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6> <%= pluralize( post.views, "views")%></h6>
    <h4> Posted by <%= link_to post.user.name, user_path(post.user) %>
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text">
      <% post_body_words = post.body.to_plain_text.split(' ') %>
      <% truncated_body = post_body_words[0..19].join(' ') %>
      <%= truncated_body %>
      <% if post_body_words.size > 20 %>
        <span class="read-more">
          <%= link_to "Read More", post %>
        </span>
      <% end %>
    </p>
  </div>
</div>


