<div class= " container">
  <p style="color: green"><%= notice %></p>
  <%= render @post %>
  <% if current_user==@post.user %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-primary"  %>
    <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-danger mt-3"  %>
  </div>
  <% end %>
  <div>
    <%= link_to "Back to posts", posts_path , class:"btn btn-secondary mx-3" %>
  </div>
</div>

<div class= "container">
  <%= render "comments/form", post: @post, comment: @post.comments.build, submit_label:"Comment"  %>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", post: @post, comment: comment %>
  <% end %>
</div>
