<div class= " container">
  <p style="color: green"><%= notice %></p>
  
  <div class="container px-4 px-lg-3 my-2"">
  <div id="<%= dom_id @post %>" class="row gx-4 gx-lg-5 align-items-center"  data-mdb-ripple-color="light">
  <% if @post.image.attached? %>
      <%= image_tag @post.image, class:" h-25 d-inline-block", style:"width: 120px" %> 
  <% end %>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6> <%= pluralize( @post.views, "views")%></h6>
    <h4> Posted by <%= link_to @post.user.name, user_path(@post.user) %>
    <h5 class="card-title"><%= @post.title %></h5>
     <p class="card-text"><%= @post.body %></p>
  </div>
</div>
  <% if current_user==@post.user %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-primary"  %>
    <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-danger mt-3"  %>
  </div>
  <% end %>
  <div>
    <%= link_to "Back to posts", posts_path , class:"btn btn-secondary mx-3" %>
  </div>
</div>

<div class= "container">
  <%= render "comments/form", post: @post, comment: @post.comments.build, submit_label:"Comment"  %>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", post: @post, comment: comment %>
  <% end %>
</div>
